.error-span {
    color: red
}

#buttonForm {
    color: black;
    border: 2px outset #bf6cf0;
    background-color: #ddcae8;
    border-radius: 15px;
}

#buttonForm:hover {
    box-shadow: none;
    background-color: #c7fcef;
    border: 3px outset #c7fcef;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}